In [1]:
import pandas as pd

In [2]:
datasets=pd.read_csv("iris_1.csv")

In [3]:
datasets

   year  production    sale  profit  sector
0  2011      200000  150000   50000       1
1  2012      300000  250000  100000       2
2  2013       60000   30000   15000       3
3  2014     2500000   90000   45000       1
4  2015     3000000  240000  120000       1
5  2016      650000  400000  245000       2
6  2016      700000  450000  295000       2
7  2017     8500000  550000  150000       3
8  2018      900000  200000   50000       3

In [4]:
x=datasets.iloc[:,[1,2,3]].values

In [5]:
x

array([[ 200000,  150000,   50000],
       [ 300000,  250000,  100000],
       [  60000,   30000,   15000],
       [2500000,   90000,   45000],
       [3000000,  240000,  120000],
       [ 650000,  400000,  245000],
       [ 700000,  450000,  295000],
       [8500000,  550000,  150000],
       [ 900000,  200000,   50000]], dtype=int64)

In [8]:
y=datasets.iloc[:,[-1,]].values

In [9]:
y

array([[1],
       [2],
       [3],
       [1],
       [1],
       [2],
       [2],
       [3],
       [3]], dtype=int64)

In [17]:
from sklearn .model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(datasets[['production','sale','profit']],datasets['sector'],test_size=0.2)

In [18]:
len(x_train)

7

In [19]:
len(x_test)

2

In [20]:
len(y_train)

7

In [21]:
len(y_test)

2

In [11]:
from sklearn .naive_bayes import GaussianNB

In [12]:
model = GaussianNB()

In [24]:
models.fit(x_train,y_train)

GaussianNB()

In [25]:
models.predict(x_train)
# 1 automobile  2 steel  3 electronics

array([2, 1, 1, 2, 1, 1, 3], dtype=int64)

In [26]:
x_train

   production    sale  profit
5      650000  400000  245000
0      200000  150000   50000
8      900000  200000   50000
6      700000  450000  295000
3     2500000   90000   45000
4     3000000  240000  120000
7     8500000  550000  150000

In [30]:
models.score(x_test,y_test)

0.0

In [29]:
models.predict([[900000,700000,300000]])

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([3], dtype=int64)