In [1]:
import pandas as pd

In [2]:
datasets=pd.read_csv("iris.csv")

In [3]:
datasets

   year  production    sale  profit       sector
0  2011      200000  150000   50000   automobile
1  2012      300000  250000  100000        steel
2  2013       60000   30000   15000  electronics
3  2014     2500000   90000   45000   automobile
4  2015     3000000  240000  120000   automobile
5  2016      650000  400000  245000        steel
6  2016      700000  450000  295000        steel
7  2017     8500000  550000  150000  electronics
8  2018      900000  200000   50000  electronics

In [4]:
x=datasets.iloc[:,[1,2,3]]

In [5]:
x

   production    sale  profit
0      200000  150000   50000
1      300000  250000  100000
2       60000   30000   15000
3     2500000   90000   45000
4     3000000  240000  120000
5      650000  400000  245000
6      700000  450000  295000
7     8500000  550000  150000
8      900000  200000   50000

In [6]:
y=datasets.iloc[:,[-1]]

In [7]:
y

        sector
0   automobile
1        steel
2  electronics
3   automobile
4   automobile
5        steel
6        steel
7  electronics
8  electronics

In [8]:
from sklearn .model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(datasets[['production','sale','profit']],datasets['sector'],test_size=0.2)

In [9]:
from sklearn.svm import SVC

In [10]:
model=SVC(kernel='linear')

In [12]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [13]:
model.predict(x_test)

array(['automobile', 'steel'], dtype=object)

In [14]:
x_test

   production    sale  profit
4     3000000  240000  120000
5      650000  400000  245000

In [15]:
model.predict(x_train)

array(['automobile', 'automobile', 'steel', 'electronics', 'steel',
       'electronics', 'electronics'], dtype=object)

In [16]:
x_train

   production    sale  profit
3     2500000   90000   45000
0      200000  150000   50000
6      700000  450000  295000
2       60000   30000   15000
1      300000  250000  100000
7     8500000  550000  150000
8      900000  200000   50000

In [18]:
model.score(x_test,y_test)

1.0